@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@custom-variant engaged {
  @media (hover: hover) and (pointer: fine) {
    &:is(:hover, [data-hover]) {
      @slot;
    }
  }

  @media not all and (hover: hover) and (pointer: fine) {
    &:is(:active, [data-active]) {
      @slot;
    }
  }
}

@custom-variant invalid {
  &:is(:invalid, [data-invalid], [aria-invalid]) {
    @slot;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-layer-basement: var(--bg-layer-basement);
  --color-layer-default: var(--bg-layer-default);
  --color-layer-default-pressed: var(--bg-layer-default-pressed);
  --color-layer-fill: var(--bg-layer-fill);
  --color-layer-floating: var(--bg-layer-floating);
  --color-layer-floating-pressed: var(--bg-layer-floating-pressed);
  --color-fg-brand: var(--fg-brand);
  --color-fg-brand-contrast: var(--fg-brand-contrast);
  --color-fg-critical: var(--fg-critical);
  --color-fg-critical-contrast: var(--fg-critical-contrast);
  --color-fg-disabled: var(--fg-disabled);
  --color-fg-informative: var(--fg-informative);
  --color-fg-informative-contrast: var(--fg-informative-contrast);
  --color-fg-neutral: var(--fg-neutral);
  --color-fg-neutral-inverted: var(--fg-neutral-inverted);
  --color-fg-neutral-muted: var(--fg-neutral-muted);
  --color-fg-neutral-subtle: var(--fg-neutral-subtle);
  --color-fg-placeholder: var(--fg-placeholder);
  --color-fg-positive: var(--fg-positive);
  --color-fg-positive-contrast: var(--fg-positive-contrast);
  --color-fg-warning: var(--fg-warning);
  --color-fg-warning-contrast: var(--fg-warning-contrast);
  --color-bg-brand-solid: var(--bg-brand-solid);
  --color-bg-brand-solid-pressed: var(--bg-brand-solid-pressed);
  --color-bg-brand-weak: var(--bg-brand-weak);
  --color-bg-brand-weak-pressed: var(--bg-brand-weak-pressed);
  --color-bg-critical-solid: var(--bg-critical-solid);
  --color-bg-critical-solid-pressed: var(--bg-critical-solid-pressed);
  --color-bg-critical-weak: var(--bg-critical-weak);
  --color-bg-critical-weak-pressed: var(--bg-critical-weak-pressed);
  --color-bg-disabled: var(--bg-disabled);
  --color-bg-informative-solid: var(--bg-informative-solid);
  --color-bg-informative-solid-pressed: var(--bg-informative-solid-pressed);
  --color-bg-informative-weak: var(--bg-informative-weak);
  --color-bg-informative-weak-pressed: var(--bg-informative-weak-pressed);
  --color-bg-magic-weak: var(--bg-magic-weak);
  --color-bg-neutral-inverted: var(--bg-neutral-inverted);
  --color-bg-neutral-inverted-pressed: var(--bg-neutral-inverted-pressed);
  --color-bg-neutral-solid: var(--bg-neutral-solid);
  --color-bg-neutral-solid-muted: var(--bg-neutral-solid-muted);
  --color-bg-neutral-solid-muted-pressed: var(--bg-neutral-solid-muted-pressed);
  --color-bg-neutral-weak: var(--bg-neutral-weak);
  --color-bg-neutral-weak-alpha: var(--bg-neutral-weak-alpha);
  --color-bg-neutral-weak-alpha-pressed: var(--bg-neutral-weak-alpha-pressed);
  --color-bg-neutral-weak-pressed: var(--bg-neutral-weak-pressed);
  --color-bg-overlay: var(--bg-overlay);
  --color-bg-overlay-muted: var(--bg-overlay-muted);
  --color-bg-positive-solid: var(--bg-positive-solid);
  --color-bg-positive-solid-pressed: var(--bg-positive-solid-pressed);
  --color-bg-positive-weak: var(--bg-positive-weak);
  --color-bg-positive-weak-pressed: var(--bg-positive-weak-pressed);
  --color-bg-transparent: var(--bg-transparent);
  --color-bg-transparent-pressed: var(--bg-transparent-pressed);
  --color-bg-warning-solid: var(--bg-warning-solid);
  --color-bg-warning-solid-pressed: var(--bg-warning-solid-pressed);
  --color-bg-warning-weak: var(--bg-warning-weak);
  --color-bg-warning-weak-pressed: var(--bg-warning-weak-pressed);
  --color-stroke-brand-solid: var(--stroke-brand-solid);
  --color-stroke-brand-weak: var(--stroke-brand-weak);
  --color-stroke-critical-solid: var(--stroke-critical-solid);
  --color-stroke-critical-weak: var(--stroke-critical-weak);
  --color-stroke-informative-solid: var(--stroke-informative-solid);
  --color-stroke-informative-weak: var(--stroke-informative-weak);
  --color-stroke-neutral-contrast: var(--stroke-neutral-contrast);
  --color-stroke-neutral-muted: var(--stroke-neutral-muted);
  --color-stroke-neutral-solid: var(--stroke-neutral-solid);
  --color-stroke-neutral-subtle: var(--stroke-neutral-subtle);
  --color-stroke-neutral-weak: var(--stroke-neutral-weak);
  --color-stroke-positive-solid: var(--stroke-positive-solid);
  --color-stroke-positive-weak: var(--stroke-positive-weak);
  --color-stroke-warning-solid: var(--stroke-warning-solid);
  --color-stroke-warning-weak: var(--stroke-warning-weak);
  --color-stroke-focus-ring: var(--stroke-focus-ring);

  --color-gray-00: var(--palette-gray-00);
  --color-gray-100: var(--palette-gray-100);
  --color-gray-200: var(--palette-gray-200);
  --color-gray-300: var(--palette-gray-300);
  --color-gray-400: var(--palette-gray-400);
  --color-gray-500: var(--palette-gray-500);
  --color-gray-600: var(--palette-gray-600);
  --color-gray-700: var(--palette-gray-700);
  --color-gray-800: var(--palette-gray-800);
  --color-gray-900: var(--palette-gray-900);
  --color-gray-1000: var(--palette-gray-1000);
  --color-carrot-100: var(--palette-carrot-100);
  --color-carrot-200: var(--palette-carrot-200);
  --color-carrot-300: var(--palette-carrot-300);
  --color-carrot-400: var(--palette-carrot-400);
  --color-carrot-500: var(--palette-carrot-500);
  --color-carrot-600: var(--palette-carrot-600);
  --color-carrot-700: var(--palette-carrot-700);
  --color-carrot-800: var(--palette-carrot-800);
  --color-carrot-900: var(--palette-carrot-900);
  --color-carrot-1000: var(--palette-carrot-1000);
  --color-blue-100: var(--palette-blue-100);
  --color-blue-200: var(--palette-blue-200);
  --color-blue-300: var(--palette-blue-300);
  --color-blue-400: var(--palette-blue-400);
  --color-blue-500: var(--palette-blue-500);
  --color-blue-600: var(--palette-blue-600);
  --color-blue-700: var(--palette-blue-700);
  --color-blue-800: var(--palette-blue-800);
  --color-blue-900: var(--palette-blue-900);
  --color-blue-1000: var(--palette-blue-1000);
  --color-red-100: var(--palette-red-100);
  --color-red-200: var(--palette-red-200);
  --color-red-300: var(--palette-red-300);
  --color-red-400: var(--palette-red-400);
  --color-red-500: var(--palette-red-500);
  --color-red-600: var(--palette-red-600);
  --color-red-700: var(--palette-red-700);
  --color-red-800: var(--palette-red-800);
  --color-red-900: var(--palette-red-900);
  --color-red-1000: var(--palette-red-1000);
  --color-green-100: var(--palette-green-100);
  --color-green-200: var(--palette-green-200);
  --color-green-300: var(--palette-green-300);
  --color-green-400: var(--palette-green-400);
  --color-green-500: var(--palette-green-500);
  --color-green-600: var(--palette-green-600);
  --color-green-700: var(--palette-green-700);
  --color-green-800: var(--palette-green-800);
  --color-green-900: var(--palette-green-900);
  --color-green-1000: var(--palette-green-1000);
  --color-yellow-100: var(--palette-yellow-100);
  --color-yellow-200: var(--palette-yellow-200);
  --color-yellow-300: var(--palette-yellow-300);
  --color-yellow-400: var(--palette-yellow-400);
  --color-yellow-500: var(--palette-yellow-500);
  --color-yellow-600: var(--palette-yellow-600);
  --color-yellow-700: var(--palette-yellow-700);
  --color-yellow-800: var(--palette-yellow-800);
  --color-yellow-900: var(--palette-yellow-900);
  --color-yellow-1000: var(--palette-yellow-1000);
  --color-purple-100: var(--palette-purple-100);
  --color-purple-200: var(--palette-purple-200);
  --color-purple-300: var(--palette-purple-300);
  --color-purple-400: var(--palette-purple-400);
  --color-purple-500: var(--palette-purple-500);
  --color-purple-600: var(--palette-purple-600);
  --color-purple-700: var(--palette-purple-700);
  --color-purple-800: var(--palette-purple-800);
  --color-purple-900: var(--palette-purple-900);
  --color-purple-1000: var(--palette-purple-1000);
  --color-static-black: var(--palette-static-black);
  --color-static-black-alpha-100: var(--palette-static-black-alpha-100);
  --color-static-black-alpha-200: var(--palette-static-black-alpha-200);
  --color-static-black-alpha-300: var(--palette-static-black-alpha-300);
  --color-static-black-alpha-400: var(--palette-static-black-alpha-400);
  --color-static-black-alpha-500: var(--palette-static-black-alpha-500);
  --color-static-black-alpha-600: var(--palette-static-black-alpha-600);
  --color-static-black-alpha-700: var(--palette-static-black-alpha-700);
  --color-static-black-alpha-800: var(--palette-static-black-alpha-800);
  --color-static-black-alpha-900: var(--palette-static-black-alpha-900);
  --color-static-black-alpha-1000: var(--palette-static-black-alpha-1000);
  --color-static-white: var(--palette-static-white);
  --color-static-white-alpha-50: var(--palette-static-white-alpha-50);
  --color-static-white-alpha-100: var(--palette-static-white-alpha-100);
  --color-static-white-alpha-200: var(--palette-static-white-alpha-200);
  --color-static-white-alpha-300: var(--palette-static-white-alpha-300);
  --color-static-white-alpha-400: var(--palette-static-white-alpha-400);
  --color-static-white-alpha-500: var(--palette-static-white-alpha-500);
  --color-static-white-alpha-600: var(--palette-static-white-alpha-600);
  --color-static-white-alpha-700: var(--palette-static-white-alpha-700);
  --color-static-white-alpha-800: var(--palette-static-white-alpha-800);
  --color-static-white-alpha-900: var(--palette-static-white-alpha-900);
  --color-static-white-alpha-1000: var(--palette-static-white-alpha-1000);
  --color-banner-blue: var(--banner-blue);
  --color-banner-cool-gray: var(--banner-cool-gray);
  --color-banner-green: var(--banner-green);
  --color-banner-orange: var(--banner-orange);
  --color-banner-pink: var(--banner-pink);
  --color-banner-purple: var(--banner-purple);
  --color-banner-red: var(--banner-red);
  --color-banner-teal: var(--banner-teal);
  --color-banner-warm-gray: var(--banner-warm-gray);
  --color-banner-yellow: var(--banner-yellow);

  --text-xxs: var(--font-size-t1);
  --text-xxs--line-height: var(--line-height-t1);
  --text-xs: var(--font-size-t2);
  --text-xs--line-height: var(--line-height-t2);
  --text-sm: var(--font-size-t3);
  --text-sm--line-height: var(--line-height-t3);
  --text-base: var(--font-size-t4);
  --text-base--line-height: var(--line-height-t4);
  --text-lg: var(--font-size-t5);
  --text-lg--line-height: var(--line-height-t5);
  --text-xl: var(--font-size-t6);
  --text-xl--line-height: var(--line-height-t6);
  --text-2xl: var(--font-size-t7);
  --text-2xl--line-height: var(--line-height-t7);
  --text-3xl: var(--font-size-t8);
  --text-3xl--line-height: var(--line-height-t8);
  --text-4xl: var(--font-size-t9);
  --text-4xl--line-height: var(--line-height-t9);
  --text-5xl: var(--font-size-t10);
  --text-5xl--line-height: var(--line-height-t10);
  --text-xxs-static: var(--font-size-t1-static);
  --text-xxs-static--line-height: var(--line-height-t1-static);
  --text-xs-static: var(--font-size-t2-static);
  --text-xs-static--line-height: var(--line-height-t2-static);
  --text-sm-static: var(--font-size-t3-static);
  --text-sm-static--line-height: var(--line-height-t3-static);
  --text-base-static: var(--font-size-t4-static);
  --text-base-static--line-height: var(--line-height-t4-static);
  --text-lg-static: var(--font-size-t5-static);
  --text-lg-static--line-height: var(--line-height-t5-static);
  --text-xl-static: var(--font-size-t6-static);
  --text-xl-static--line-height: var(--line-height-t6-static);
  --text-2xl-static: var(--font-size-t7-static);
  --text-2xl-static--line-height: var(--line-height-t7-static);
  --text-3xl-static: var(--font-size-t8-static);
  --text-3xl-static--line-height: var(--line-height-t8-static);
  --text-4xl-static: var(--font-size-t9-static);
  --text-4xl-static--line-height: var(--line-height-t9-static);
  --text-5xl-static: var(--font-size-t10-static);
  --text-5xl-static--line-height: var(--line-height-t10-static);
  --leading-xxs: var(--line-height-t1);
  --leading-xs: var(--line-height-t2);
  --leading-sm: var(--line-height-t3);
  --leading-base: var(--line-height-t4);
  --leading-lg: var(--line-height-t5);
  --leading-xl: var(--line-height-t6);
  --leading-2xl: var(--line-height-t7);
  --leading-3xl: var(--line-height-t8);
  --leading-4xl: var(--line-height-t9);
  --leading-5xl: var(--line-height-t10);
  --leading-xxs-static: var(--line-height-t1-static);
  --leading-xs-static: var(--line-height-t2-static);
  --leading-sm-static: var(--line-height-t3-static);
  --leading-base-static: var(--line-height-t4-static);
  --leading-lg-static: var(--line-height-t5-static);
  --leading-xl-static: var(--line-height-t6-static);
  --leading-2xl-static: var(--line-height-t7-static);
  --leading-3xl-static: var(--line-height-t8-static);
  --leading-4xl-static: var(--line-height-t9-static);
  --leading-5xl-static: var(--line-height-t10-static);
  --font-weight-normal: 400;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --ease-linear: var(--motion-ease-linear);
  --ease-easing: var(--motion-ease-easing);
  --ease-enter: var(--motion-ease-enter);
  --ease-exit: var(--motion-ease-exit);
  --ease-enter-expressive: var(--motion-ease-enter-expressive);
  --ease-exit-expressive: var(--motion-ease-exit-expressive);
  --duration-d1: var(--motion-duration-d1);
  --duration-d2: var(--motion-duration-d2);
  --duration-d3: var(--motion-duration-d3);
  --duration-d4: var(--motion-duration-d4);
  --duration-d5: var(--motion-duration-d5);
  --duration-d6: var(--motion-duration-d6);
  --duration-color-transition: var(--motion-duration-color-transition);
  --default-transition-duration: var(--motion-duration-d3);
  --default-transition-timing-function: var(--motion-ease-easing);

  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-family-mono);
  --font-serif: var(--font-family-serif);

  --radius-xxs: var(--radius-r0_5);
  --radius-xs: var(--radius-r1);
  --radius-sm: var(--radius-r1_5);
  --radius-md: var(--radius-r2);
  --radius-lg: var(--radius-r2_5);
  --radius-xl: var(--radius-r3);
  --radius-2xl: var(--radius-r3_5);
  --radius-3xl: var(--radius-r4);
  --radius-4xl: var(--radius-r5);
  --radius-5xl: var(--radius-r6);
  --radius-full: var(--radius-r-full);
  --spacing: var(--dimension-x1);
  --spacing-xxs: var(--dimension-x0_5);
  --spacing-xs: var(--dimension-x1);
  --spacing-sm: var(--dimension-x1_5);
  --spacing-md: var(--dimension-x2);
  --spacing-lg: var(--dimension-x2_5);
  --spacing-xl: var(--dimension-x3);
  --spacing-2xl: var(--dimension-x3_5);
  --spacing-3xl: var(--dimension-x4);
  --spacing-4xl: var(--dimension-x4_5);
  --spacing-5xl: var(--dimension-x5);
  --spacing-6xl: var(--dimension-x6);
  --spacing-7xl: var(--dimension-x7);
  --spacing-8xl: var(--dimension-x8);
  --spacing-9xl: var(--dimension-x9);
  --spacing-10xl: var(--dimension-x10);
  --spacing-12xl: var(--dimension-x12);
  --spacing-13xl: var(--dimension-x13);
  --spacing-14xl: var(--dimension-x14);
  --spacing-16xl: var(--dimension-x16);
  --spacing-between-chips: var(--dimension-spacing-x-between-chips);
  --spacing-global-gutter: var(--dimension-spacing-x-global-gutter);
  --spacing-component-default: var(--dimension-spacing-y-component-default);
  --spacing-nav-to-title: var(--dimension-spacing-y-nav-to-title);
  --spacing-screen-bottom: var(--dimension-spacing-y-screen-bottom);
  --spacing-between-text: var(--dimension-spacing-y-between-text);

  --shadow-s1: var(--elevation-shadow-s1);
  --shadow-s2: var(--elevation-shadow-s2);
  --shadow-s3: var(--elevation-shadow-s3);
}

@utility bg-gradient-fade-layer-floating {
  background-image: var(--gradient-fade-layer-floating);
}

@utility bg-gradient-fade-layer-default {
  background-image: var(--gradient-fade-layer-default);
}

@utility bg-gradient-glow-magic {
  background-image: var(--gradient-glow-magic);
}

@utility bg-gradient-glow-magic-pressed {
  background-image: var(--gradient-glow-magic-pressed);
}

@utility bg-gradient-highlight-magic {
  background-image: var(--gradient-highlight-magic);
}

@utility bg-gradient-highlight-magic-pressed {
  background-image: var(--gradient-highlight-magic-pressed);
}

@utility bg-gradient-shimmer-magic {
  background-image: var(--gradient-shimmer-magic);
}

@utility bg-gradient-shimmer-neutral {
  background-image: var(--gradient-shimmer-neutral);
}

@utility text-screen-title {
  font-size: var(--text-style-screen-title-font-size);
  line-height: var(--text-style-screen-title-line-height);
  font-weight: var(--text-style-screen-title-font-weight);
}

@utility text-article-body {
  font-size: var(--text-style-article-body-font-size);
  line-height: var(--text-style-article-body-line-height);
  font-weight: var(--text-style-article-body-font-weight);
}

@utility text-article-note {
  font-size: var(--text-style-article-note-font-size);
  line-height: var(--text-style-article-note-line-height);
  font-weight: var(--text-style-article-note-font-weight);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
